.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-700);
  padding: 4rem 0;
}

.header h1{
  background-image: linear-gradient(90deg, var(--blue) 0%, var(--purple-dark) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header svg{
  color: var(--blue);
}